:root {
    --main-color: #04bef1;
    --navtext-color: #023A4E;
    --foottext-color: #575d62;
    --text-color: #f1fff8;
    --web-background-color: #262c3a;
    --border-color: #023A4E;
    --section-color: #575D62;
    --separators-color: rgba(87, 93, 98, 0.3);
    font-size: 16px;
}

/* body */
body {
    font-family: 'Share Tech', sans-serif;
    background-color: var(--web-background-color);
    color: var(--text-color);
}

.separators {
    border: 0 dotted;
    height: 1px;
    background-color: var(--separators-color);
}

/* navigation bar */
.navbar {
    background-color: var(--main-color);
    color: var(--navtext-color);
    border: 2px solid var(--border-color);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar h1 {
    font-size: 2.5rem;
}

nav .navbar_list a.link {
    display: none;
}

@media screen and (min-width: 658px) {

    .navbar {
        justify-content: space-between;
        align-items: center;
    }

    .navbar .navbar_list {
        display: flex;
    }

    .navbar .navbar_list a.link {
        display: initial;
        color: var(--navtext-color);
        font-size: 1.2rem;
        text-decoration: none;
        margin-left: 20px;
    }
}

/* headers */
.header {
    text-align: center;
}

.header h3 {
    font-size: 2rem;
}

/* main */
main {
    width: 90%;
    max-width: 768px;
    margin: 20px auto 100px auto;
    text-align: center;
}


main .contact_section {
    width: 100%;
    max-width: 680px;
    margin: 20px auto;
    border: 2px dotted var(--border-color);
    background-color: var(--section-color);
    border-radius: 10px;
}

main .section_title {
    font-size: 2rem;
}

/* carousel */

.carousel-container {
    margin: 10px 0;
}

.carousel-links {
    display: flex;
    justify-content: center;
}

.carousel-dot {
    background-color: var(--section-color);
    width: 16px;
    height: 16px;
    margin: 0 5px;
    display: block;
    border: var(--main-color) solid 4px;
    border-radius: 50%;
}

.carousel-slides {
    height: 36vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
}

.carousel-slides>div {
    height: 100%;
    width: 100%;
    background-color: var(--web-background-color);
}

@media screen and (min-width: 658px) {
    .carousel-slides {
        height: 65vh;
    }
}

/* progression bars */

.skill-bars-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-name-box {
    padding: 6px;
}

.progression-bar {
    background-color: var(--section-color);
    width: 100px;
    height: 10px;
    border: var(--section-color) solid 2px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progression {
    background-color: var(--main-color);
    height: 10px;
    border-radius: 10px;
}

#empathy-bar {
    width: 95%;
}

#creat-think-bar {
    width: 70%;
}

#inter-relations-bar {
    width: 90%;
}

#confl-resolut-bar {
    width: 83%;
}

#sanity-bar {
    width: 50%;
}

/* form */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form #how-know-us-field {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.form #how-know-us-field .option-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#personal-info-field .labels {
    display: none;
}

#mailing-info-field .labels {
    display: none;
}

/* footer */
.footer {
    background-color: var(--main-color);
    color: var(--foottext-color);
    text-align: center;
    font-style: italic;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .footer_list .list_item {
    margin: 5px 0;
}

.footer .footer_list a.link {
    text-decoration: none;
}

@media screen and (min-width: 658px) {
    .footer_list {
        display: flex;
        justify-content: center;
    }

    .footer .footer_list .list_item {
        margin: 5px;
    }
}